<div class="container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <th>Name</th>
      <th>Phone</th>
      <th>DOB</th>
      <th>Role</th>
      <th>Create At</th>
      <th>Update At</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="isLoading">Loading...</tr>
    <tr *ngFor="let user of listUsers | paginate: { itemsPerPage: 10, currentPage: page }">
      <td style="text-align: center">{{ user.user_id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.dob }}</td>
      <td>
        <select [(ngModel)]="user.role" (change)="updateUserRole(user)">
          <option value="Member">Member</option>
          <option value="Staff">Staff</option>
          <option value="Admin">Admin</option>
        </select>
      </td>
      <td style="text-align: center">{{ user.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td style="text-align: center">{{ user.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>
        <select [(ngModel)]="user.status" (change)="updateUserStatus(user)">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
      </td>
      <td>
        <div>
          <a (click)="openEditPopup(user)" class="edit">Edit</a>
          <a (click)="deleteUser(user)" class="delete">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <div class="popup" *ngIf="isEditPopupOpen">
    <div class="popup-content">
      <h3>Edit User</h3>
      <form (ngSubmit)="editUser()">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="selectedUser.email" name="email" required />

        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="selectedUser.username" name="username" required />

        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="selectedUser.name" name="name" required />

        <label for="phone">Phone:</label>
        <input type="text" id="phone" [(ngModel)]="selectedUser.phone" name="phone" required />

        <label for="dob">DOB:</label>
        <input type="date" id="dob" [(ngModel)]="selectedUser.dob" name="dob" required />

        <div>
          <button class="delete" type="button" (click)="closeEditPopup()">Cancel</button>
          <button class="edit" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
