<footer>
  <div class="footer-top">
    <div class="footer-top-item">
      <h4>Pizza Shop</h4>
      <div class="items">
        <p class="item">Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum netus euismod torquent arcu lobortis maecenas hendrerit ad.</p>
      </div>
    </div>
    <div class="footer-top-item">
      <h4>Contact</h4>
      <div class="items">
        <p class="item"><img width="20" height="20" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/home--v2.png" alt="home--v2"/> New York, NY 10012, US</p>
        <p class="item"><img width="20" height="20" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/new-post.png" alt="new-post"/> example&#64;gmail.com</p>
        <p class="item"><img width="20" height="20" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/phone.png" alt="phone"/> + 01 234 567 89</p>
     </div>
    </div>
    <div class="footer-top-item">
      <h4>Opening Hours</h4>
      <div class="items">
        <p class="item">Monday - Thursday: &nbsp;8AM - 9PM</p>
        <p class="item">Friday - Saturday: &nbsp;8AM - 1AM</p>
        <p class="item">Sunday: &nbsp;9AM - 10PM</p>
      </div>
    </div>
    <div class="footer-top-item">
      <h4>Follow Us</h4>
      <div class="items-social">
        <p class="item-social">
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/google-logo.png" alt="google-logo"/></a>
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/twitterx--v2.png" alt="twitterx--v2"/></a>
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/facebook-f.png" alt="google-logo"/></a>
        </p>
        <p class="item-social">
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/instagram-new--v1.png" alt="instagram-new--v1"/></a>
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/pinterest--v1.png" alt="pinterest--v1"/></a>
          <a><img width="25" height="25" ngSrc="https://img.icons8.com/material-outlined/200/FFFFFF/youtube-play--v1.png" alt="youtube-play--v1"/></a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">Copyright &copy;2024 T1. All Rights Reserved by T1</div>
</footer>
